body {
    //background:url(custom_images/background.jpg);
    //background-repeat: no-repeat;
    //background-attachment:fixed;
    //background-position:50% 50%;
    // background-size: 100% 100%;
    //background-size: cover;
    //-webkit-background-size: cover;
    //-o-background-size: cover;
    //-moz-background-size: cover;
    //-ms-background-size: cover;
}

.content-wrap {
  opacity: 0.8;
}

.sidebar {
  opacity: 0.8;
}

.header-inner {
  background: rgba(255,255,255,0.8);
}

.popup {
  opacity: 0.8;
}
